/* Bestseller List ============================================================================== */

.bestsellerItem {
  margin-bottom: 12px;
}

.bestsellerTitle {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Alegreya Sans', sans-serif;
  font-style: italic;
}

.bestsellerAuthor {
  /*font-style: italic;*/
  font-family: 'Lato', sans-serif;
}

.centerimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resize {
   width: auto;
   height: 200px;
}

.resizeFlip {
  width: auto;
  height: 400px;
}

.navbar-brand{
  font-family: 'Oswald', sans-serif;
}

#thedevelopers{
  font-family: 'Oswald', sans-serif;
}

#hiUser{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.panel-heading h4 {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

#bookTitle {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

#author {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

#description {
  font-style: italic;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.footer {
  background-color: #2C3E50;
  font-family: 'Oswald', sans-serif;
}

.text-muted {
  color: #FFFFFF;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}